body {
    background-color: #f2f2f2;
    font-family: 'Quicksand', sans-serif;
}
h1,h2,h3,h4 {
    margin: 0;
}
ul li {
    line-height: 25px;
    transition: 0.2s ease-in-out;
}
ul li:hover {
    transform: translateX(3px);
}
.fa {
    margin-right: 10px;
}
.container {
    max-width: 768px;
    width: 100%;
    margin: auto;
}
.columns {
    display: flex;
    flex-wrap: wrap;
}
.box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    transform: translate3d(0,0,0);
    transition: 0.3s ease;
    margin-bottom: 20px;
}
.box__title {
    padding: 20px;
    background-color: #9e6c6c;
    color: #ffffff;
    font-weight: lighter;
}
.box__body {
    padding: 20px;
}
#basic {
    padding: 20px;
}
.experience,
.project {
    padding-left: 20px;
    border-left: 3px solid #FF9C9C;
}
.experience__date {
    font-size: 12px;
    font-weight: lighter;
    color: #919c7d;
}
.project__type {
    font-size: 14px;
    opacity: 0.7;
    font-style: italic;
}