#header {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
#header section {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}