.visuals__title {
    text-align: center;
    margin: 40px 0;
}
.visual__list {
    display: flex;
    flex-wrap: wrap;
}
.visual {
    padding: 0 10px;
    width: 50%;
    margin-bottom: 20px;
}
.visual__container {
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 6px rgba(0,0,0,.117647), 0 1px 4px rgba(0,0,0,.117647);
    border-bottom: 5px solid transparent;
    position: relative;
}
.visual__status {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 3px 7px;
    border-radius: 10px;
    color: #FFFFFF;
}
.visual__status.done {
    background-color: #3e8c3e;
}
.visual__status.in_progress {
    background-color: #94941a;
}
.visual__status.not_started {
    background-color: red;
}
.visual__image {
    width: 100%;
    vertical-align: middle;
    border-radius: 5px 5px 0px 0px;
}
.visual__detail {
    padding: 15px;
}
.visual__rating-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.visual__rating-icon,
.visual__rating-point {
    display: inline-block;
    vertical-align: middle;
}
.visual__title {
    margin-top: 10px;
    color: #4b8a2c;
}
@media (min-width: 768px) {
    .visual {
        width: 25%;
    }
}
@media (min-width: 1024px) {
    .visual {
        width: 20%;
    }
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    margin: auto;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #fff;
    border-color: #06A763 transparent #06A763 transparent;
    animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}