.todos__title {
    text-align: center;
    font-size: 2em;
    width: 100%;
}
.todos__container {
    padding: 30px;
    background-color: #ffffff;
    width: 100%;
    border: 1px solid #f2f2f2;
}
.todo {
    margin-top: 30px;
    padding: 0 0 10px 10px;
    border-bottom: 1px solid #4bd828;
    border-left: 5px solid red;
    transition: all 0.3s ease;
}
.todo:hover {
    border-left-width: 10px;
}
.todo.done {
    border-left-color: green;
}
.todo__title {
    font-size: 2.5em;
    border: none;
    width: 100%;
}