<form>
    <div nz-row [nzGutter]="16">
        <div nz-col class="gutter-row" [nzSpan]="8">
            <nz-input [(ngModel)]="name" name="name" [nzPlaceHolder]="'Name'" (ngModelChange)="_console($event)" [nzSize]="'large'"></nz-input>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="8">
            <nz-input [(ngModel)]="price" name="price" [nzPlaceHolder]="'Price'" (ngModelChange)="_console($event)" [nzSize]="'large'"></nz-input>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="8">
            <nz-input [(ngModel)]="rating" name="rating" [nzPlaceHolder]="'Rating'" (ngModelChange)="_console($event)" [nzSize]="'large'"></nz-input>
        </div>
    </div>
</form>